@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.turivius-card.rs-panel {
  background-color: #fff;
  color:  #3a3a3a;
  margin: 5px;
  font-family: 'Poppins', sans-serif;
  line-height: 30px; 
  text-align: justify;
  font-size: smaller;
}

.turivius-card.rs-panel .btn {
  background-color:  #b5f3f6;
  color: white;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  display: flex;
  text-decoration: none;
}

